body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #8B0000;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background: #cc0000;
    text-align: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background: #660000;
}

/* Banner */
.banner {
    background: url("https://picsum.photos/1200/400") no-repeat center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 30px;
    font-weight: bold;
}

/* Content */
.container {
    padding: 20px;
    text-align: center;
}

/* Room Cards */
.card {
    width: 30%;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 0 10px gray;
}

/* Footer */
footer {
    background: #8B0000;
    color: white;
    text-align: center;
    padding: 10px;
}